h1{
    text-align: center;
    color: red;
}
#sect-1{
    display: flex;
    justify-content: center;
color: blue;

}
#sect-2{
    display: flex;
    justify-content: flex-start;
    align-self: center;
}
li{
    color:black;
}
#sect-3{
    display: flex;
    justify-content: center;
}
*{
    background-image: url(../Pasted\ image.png);
}